<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-back-button *ngIf="!selectedCountry.isInBookmark" defaultHref="/home/tabs/countries"></ion-back-button>-->
      <ion-back-button defaultHref="/home/tabs/countries"></ion-back-button> <!--TODO. Haven't found the best way to route back-->
    </ion-buttons>
    <ion-title>Country Details</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!selectedCountry.isInBookmark" (click)="addToBookmark()">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="selectedCountry.isInBookmark" (click)="removeFromBookmark()">
        <ion-icon name="bookmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ selectedCountry.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><ion-label color="warning">Confirmed: {{ selectedCountry.confirmed | number }}</ion-label></p>
            <p><ion-label color="danger">Deaths: {{ selectedCountry.deaths | number }}</ion-label></p>
            <p><ion-label color="success">Recovered: {{ selectedCountry.recovered | number }}</ion-label></p>
            <p><ion-label>Last Update (UTC): {{ selectedCountry.lastUpdate }}</ion-label></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
