<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input *ngIf="username === undefined" type="text"  [(ngModel)]="username" placeholder="username"></ion-input>
      <ion-input *ngIf="username !== undefined" type="text"  [(ngModel)]="username" placeholder="username" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" placeholder="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" placeholder="confirm password"></ion-input>
    </ion-item>
  </ion-list>
  <div *ngIf="username === undefined">
    <ion-button expand="full" padding color="primary" (click)="register()">Register</ion-button>
    <ion-button expand="full" padding color="secondary" fill="outline" (click)="login()">Sign In</ion-button>
  </div>
  <ion-button *ngIf="username !== undefined" expand="full" padding color="primary" (click)="editUser()">Update</ion-button>
</ion-content>
